.f_Agrega {
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px black;
  font-family: arial;
}
.f_Lista{
  padding: 20px;
  width: 250px;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px black;
  font-family: arial;
}
.i_Agrega{
  box-sizing: border-box;
  width: 60%;
}
.b_Agrega{
  box-sizing: border-box;
  width: 35%;
}
.b_borrar{
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}
input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #999999;
}
